/* Judson */
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* iPhone 12 Pro */
@media screen and (max-width:400px) {
    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #avatar-div {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 2;
        text-align: center;
        background-color: #9FECEC;
    }
    
    h1 {
        margin-top: 5%;
        color: #3D3D67;
        font-family: 'Judson', serif;
        margin-bottom: 5%;
    }

    input {
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    input[type=file] {
        padding-left: 19%;
        margin-top: 15%;
    }

    input[type=submit] {
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        color: white;
        height: 16%;
        width: 60%;
        padding: 20px;
        border: none;
        font-size: large;
        margin-top: 20%;
    }
}

/* 1080p */
@media screen and (min-width:400px) and (max-width:1080px) {
    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #avatar-div {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 2;
        text-align: center;
        background-color: #9FECEC;
    }
    
    h1 {
        margin-top: 7%;
        color: #3D3D67;
        font-family: 'Judson', serif;
        margin-bottom: 5%;
    }

    input {
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    input[type=file] {
        padding-left: 14%;
        margin-top: 5%;
    }

    input[type=submit] {
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        color: white;
        width: 60%;
        padding: 40px;
        border: none;
        font-size: large;
        margin-top: 10%;
    }
}

/* 1440p */
@media screen and (min-width:1080px) {
    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #avatar-div {
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 2;
        text-align: center;
        background-color: #9FECEC;
        display: grid;
        grid-template-rows: 0.25fr 1fr;
    }
    
    h1 {
        grid-row: 1;
        color: #3D3D67;
        font-family: 'Judson', serif;
        font-size: 60px;
        margin-top: 2%;
    }

    form {
        grid-row: 2;
        font-family: 'Inter', sans-serif;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 0.5fr 0.5fr;
    }

    input[type=file] {
        grid-row: 1;
        padding-left: 10%;
    }

    input[type=submit] {
        grid-row: 2;
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        color: white;
        height: 40%;
        width: 70%;
        border: none;
        font-size: larger;
        margin-left: 10%;
        margin-bottom: 30%;
    }
}
