/* Judson */
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#err {
    font-family: 'Inter', sans-serif;
    color: red;
    margin-top: -20px;
}

/* iPhone 12 Pro */
@media screen and (max-width:400px) {

    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows:auto 1fr 1fr auto;
    }
    header{
        grid-row: 1;
    }

    #avatar-div {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 3;
        text-align: center;
        background-color: #9FECEC;
    }

    footer {
        grid-row:4;
    }

    h1 {
        margin-top: 5%;
        color: #3D3D67;
        font-family: 'Judson', serif;
        margin-bottom: 5%;
    }

    #input {
        display: inline;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    input {
        width: 60%;
        padding: 20px;
        padding-left: 50px;
        border: none;
        font-size: large;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    input[type=text] {
        background-image: url(/img/Pass.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=email] {
        background-image: url(/img/Contact.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=submit] {
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        font-family: 'Inter', sans-serif;
        color: white;
        padding: 0%;
        height: 16%;
    }
}

/* 1080p */
@media screen and (min-width:400px) and (max-width:1080px) {
    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr 1fr auto;
    }

    header{
        grid-row:1;
    }

    #avatar-div {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 3;
        text-align: center;
        background-color: #9FECEC;
    }

    h1 {
        margin-top: 2%;
        color: #3D3D67;
        font-family: 'Judson', serif;
        margin-bottom: 2%;
    }
    
    footer{
        grid-row: 4;
    }

    #input {
        display: inline;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    input {
        width: 60%;
        padding: 20px;
        padding-left: 50px;
        border: none;
        font-size: x-large;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    input[type=text] {
        background-image: url(/img/Pass.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=email] {
        background-image: url(/img/Contact.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=submit] {
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        font-family: 'Inter', sans-serif;
        color: white;
        margin-top: 10px;
        padding: 0%;
        height: 18%;
    }
}

/* 1440p */
@media screen and (min-width:1080px) {
    body {
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows:auto 1fr 1fr auto;
    }

    header{
        grid-row: 1;
    }

    #avatar-div {
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    #avatar {
        border-radius: 50%;
    }

    #profile-info {
        grid-row: 3;
        text-align: center;
        background-color: #9FECEC;
    }

    h1 {
        margin-top: 2px;
        color: #3D3D67;
        font-family: 'Judson', serif;
        margin-bottom: 2px;
        font-size: 64px;
    }
    footer{
        grid-row: 4;
    }

    #input {
        display: inline;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }

    input {
        width: 60%;
        padding: 20px;
        padding-left: 50px;
        border: none;
        font-size: x-large;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    input[type=text] {
        background-image: url(/img/Pass.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=email] {
        background-image: url(/img/Contact.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 5px;
    }

    input[type=submit] {
        text-align: center;
        border-radius: 12px;
        background: #00BAC6;
        font-family: 'Inter', sans-serif;
        color: white;
        margin-top: 10px;
        padding: 0%;
        height: 18%;
    }
}
