/* Judson */
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9FECEC;
    border-radius: 10px;
  }

#im1 {
    color:darkblue;
    display:block;
    margin:0 auto;
}
.card-text1{
    font-family: 'Inter', sans-serif;
    color: #3D3D67;
    font-weight: 900;
    font-size: large;
    text-align: center;
}

.avatar3 {
    display:block;
    margin: 0 auto;

}

.avatar4 {
    display:block;
    margin: 0 auto;

}

.avatar1 {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

#welcome-text{
    color: #3D3D67;
    font-family: 'Judson', serif;
}

#username-text {
    color: #00BAC6;
    font-family: 'Judson', serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-columns: 10fr;
    height: 100vh;
}

.logo-image {
    padding-left: 5px;
    margin: auto;
    
}

.hamburger-menu {
    margin:  auto;
}

.hamburger-menu:hover {
    cursor: pointer;
}

#menu {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

#menu > p {
    position: relative;
}

.flatIcon {
    width: 25px;
}

.hamburgerIcon {
    width: 25px;
    
}

.content-area {
    font-size: 60px;
    margin: auto;
    text-align: center;
}

.userCards {
    min-width: 30.7vw;
    min-height: 22vh;
    max-width: 36vw;
    max-height: 28vh;
    border: 2px black;
}

#error {
    color: red;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#back {
    margin: 0 2px 2px 2px;
    width: 25%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    margin-right: 10px;
    font-size: medium;
}

#back3 {
    margin: 0 2px 2px 2px;
    width: 25%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    margin-left: 110px;
    font-size: medium;
}

#back3:hover {
    background-color: white;
    color: #00BAC6;
}

#back4 {
    display:block;
    margin: 0 auto;
    width: 25%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
   
    font-size: medium;
}

#back4:hover {
    background-color: white;
    color: #00BAC6;
}

#back1 {
    margin: 0 2px 2px 2px;
    width: 50%;
    height: 50%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    margin-right: 10px;
    font-size: medium;
}

#back1:hover {
    background-color: white;
    color: #00BAC6;
}

#content{
    margin: 0 2px 2px 2px;
    width: 25%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    margin-left: 30px;
    font-size: medium;

}

#submit, #submit1 {
    margin: 0 2px 2px 2px;
    width: 25%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    margin-left: 20px;
    font-size: medium;
}

#submit2 {
    margin: 0 2px 2px 2px;
    width: 15%;
    height: 20%;
    background-color: #00BAC6;
    border-radius: 10px;
    color: white;
    border: 0px;
    /* margin-left: 10px; */
    font-size: large;
}

#submit:hover {
    color: #00BAC6;
    background-color: white;
}

.btn:hover {
    color: #00BAC6;
    background-color: white;
}


#submit1:hover {
    color: #00BAC6;
    background-color: white;
}


#back:hover {
    color: #00BAC6;
    background-color: white;
}

#submit2:hover {
    color: #00BAC6;
    background-color: white;
}


.avatar {
    width: 75px;
    height: 75px;
    margin-bottom: 2px;
}

#im {
    padding-top: 118px;
}

/* iPhone 12 Pro*/
@media (max-width:741px) {

    .content-area {
        font-size: 40px;
        margin: auto;
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: 7px;
      }

    .displayUsers {
        background-color: #00ccf9;
        height: 67.6vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px 0px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #008CBA;
      }

    #submit{
        padding:0%;
        margin: 12px;
    }


    .userCards {
        border-radius: 20px;
        margin: 5px;
        background-color: #9FECEC;
        min-width: 300px;
        min-height: 300px;
        max-width: 300px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2em;
        font-family: 'Inter', sans-serif;
        text-align: center;
        color: #3D3D67;
    }

    .btn {
        margin: 0 2px 2px 2px;
        width: 50%;
        height: 20%;
        background-color: #00BAC6;
        border-radius: 10px;
        color: white;
        border: 0px;
        font-size: large;
    }


    .error {
        color: red;
        font-weight: bold;
        font-size: 0.5em;
        text-align: center;
    }
}

/* 1080p */
@media screen and (min-width:741px) and (max-width:1080px) {

    .content-area {
        font-size: 40px;
        margin: auto;
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: 10px;
      }

    .displayUsers {
        background-color: #00ccf9;
        height: 63.1vh;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        grid-template-rows: auto;
        grid-gap: 2.25rem;
        overflow: scroll;
        padding: 20px;
        overflow-x: hidden;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #008CBA;
      }
    .userCards {
        border-radius: 20px;
        background-color: #9FECEC;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2em;
        font-family: 'Inter', sans-serif;
        text-align: center;
        color: #3D3D67;
    }

    .userCards {
        min-width: 26.7vw;
        min-height: 38vh;
        max-width: 30vw;
        max-height: 43vh;
    }
    

    .btn {
        margin: 0 2px 2px 2px;
        width: 50%;
        height: 20%;
        background-color: #00BAC6;
        border-radius: 10px;
        color: white;
        border: 0px;
        font-size: large;
    }

    .btn:hover {
        color: #00BAC6;
        background-color: white;
    }

    .error {
        color: red;
        font-weight: bold;
        font-size: 0.5em;
        text-align: center;
    }
}

/* 1440p */
@media screen and (min-width:1080px) {
    .displayUsers {
        background-color: #00ccf9;
        height: 61vh;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        grid-template-rows: auto;
        grid-gap: 4rem;
        overflow: scroll;
        overflow-x: hidden;
        padding: 20px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    ::-webkit-scrollbar {
        width: 15px;
      }

      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #008CBA;
      }
    .userCards {
        border-radius: 20px;
        background-color: #9FECEC;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2em;
        font-family: 'Inter', sans-serif;
        text-align: center;
        color: #3D3D67;
        font-weight: 1000;
    }

    .userCards {
        min-width: 26.7vw;
        min-height: 38vh;
        max-width: 30vw;
        max-height: 43vh;
        border: 2px black;
    }

    .btn {
        margin: 0 2px 2px 2px;
        width: 50%;
        height: 20%;
        background-color: #00BAC6;
        border-radius: 10px;
        color: white;
        border: 0px;
        font-size: large;
    }

    .btn:hover {
        color: #00BAC6;
        background-color: white;
    }

    .error {
        color: red;
        font-weight: bold;
        font-size: 0.5em;
        text-align: center;
    }
}
.card-text{
    font-family: 'Inter', sans-serif;
    color: #3D3D67;
    font-weight: 900;
    font-size: medium;
}


